$background: #8d8d8d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  text-align: center;

}

body { min-width: 100vh; }

header, footer {
  background-color: $background;
  display: flex;
  text-align: center;
}

footer {
  height: 3rem;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 5%;
  margin: auto;
  margin-top: 2rem;

  > input {
    margin-bottom: .3rem;
  }

  > button {
    width: 50%;
  }
}

nav {
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

nav li {
  background-color: darken($background, 10%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  > a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

li {
  list-style-type: none;
  padding: 0 1rem;
}

ul {
  display: flex;
}
